.cats-list{
    display:flex;
    flex-wrap:wrap;
    /* gap: 16px; */
}
.cats-list img{
    padding: 10px;
    border-radius: 24px;
}
.cats-list p{
    padding: 10px;
    font-family: MontserratBold;
}
