<div class="container mt-3" *ngIf="!isLoader">
  <header>
      <a routerLink="/">
          <img src="../assets/images/CatwikiLogo.svg" alt="logo"/>
      </a>
  </header>
  <div class="mt-3" >
  <router-outlet></router-outlet> 
  </div>


  <footer class="footer container">
    <a routerLink="/">
        <img src="../assets/images/CatwikiLogow.svg" alt="logo">
    </a>
    <span class="copyright">
        &copy; created by <span>Enas</span> - devChallenge.io 2021
    </span>
</footer>

</div>
<div class="col-md-12 h-100" *ngIf="isLoader">
    <app-spinner class=" h-100 d-flex justify-content-center align-items-center"></app-spinner> 
    </div>
