/*base style*/
*{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width:7px;
    transition: all 1s ease-in-out;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F2F2F2;
    border-radius: 10px; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #BDBDBD;
    border-radius: 10px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


h1,h2{
    font-size: 2.5em;
    font-weight:bold;
    line-height: 1.4;
}
.padding-60{
    padding:60px
}

/*custom style*/
.catwiki{
    background: #E3E1DC;
    border-radius: 42px;
    overflow: hidden;
    color:#fff;
}
.catbackground{
 position: relative;
 display: flex;
 height: 100%;
 align-items: center;
}

.intro {
    position: absolute;
    padding: 60px;
}
.intro img{
    width: 60%;
}
.most-searched{
    color: #291507;
    padding: 30px 60px 60px;
}

.image-container{
    display: flex;
    gap:16px;
}
.image-container .img-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:16px;
}
.results{
    height:0px;
    background: #fff;
    margin-top: 20px;
    border-radius: 20px;
    color:#291507;
    padding: 10px;
    position: absolute;
    opacity:0;
    transition: height 0.2s ease-in;
}
.results.show{
    opacity: 1;
    height:230px;
}
.results ul{
    overflow:auto;
    height:210px;
    list-style: none;
    padding: 0 10px 0 0;
}
.results ul li{
   border-radius: 10px;
   padding: 10px;
    }
.results ul li:hover{
background:#F2F2F2;
}

.results a{
    width: 100%;
    display: inline-block;
}

@media screen and (max-width:480px) {
    .intro{
        padding: 20px;
    }
    .most-searched{
        padding: 20px 20px 40px;
    }
    h2{
        font-size: 1.5em;
    }
    .padding-60{
        padding:60px 20px 60px;
    }
    .image-container{
        padding-top: 60px;
    }
}